<div class="allJobOffers">
    <h3>Current Phase: {{vm.currentPhase}}</h3>
    <div ng-if="vm.currentPhase == 1">
        <div ng-repeat="user in vm.users track by $index" class="tile" ng-show="vm.currentIndex == $index">
            User {{($index + 1)}} of the {{vm.totalUsers}}
            ----
            <div ng-repeat="(skill, value) in user.skills" class="tile">
                Skill: {{skill}}, Score: {{value}}
            </div>
            ----
            <button ng-click="vm.decline()">Decline</button>
            <button ng-click="vm.accept()">Accept</button>
        </div>
    </div>
    <div ng-if="vm.currentPhase == 2">
        <div ng-repeat="user in vm.users track by $index" class="tile" ng-show="vm.currentIndex == $index">
            Name: {{user.name}}<br />
            Age: {{user.age}}<br />
            Location: {{user.location}}<br />
            Highscore: {{user.highscore}}<br />
            Career Experience: {{user.carreerExpierence}}<br />
            Extra Career Activities: {{user.extraCarreerActivities}}<br />
            <button ng-click="vm.decline()">Decline</button>
            <button ng-click="vm.accept()">Accept</button>
        </div>
    </div>
    <div ng-if="vm.currentPhase == 3">
        <div ng-repeat="user in vm.users track by $index" class="tile" ng-show="vm.currentIndex == $index">
            Motivation Letter: <br />
            {{user.motivationLetter}}<br />
            <button ng-click="vm.decline()">Decline</button>
            <button ng-click="vm.accept()">Accept</button>
        </div>
    </div>
</div>