<div class="col-md-4 jobofferWrapper" ng-repeat="joboffer in vm.joboffers" ng-click="vm.goToSkills()" >
  <div class="box box-widget widget-user">
    <div class="widget-user-header bg-aqua-active" style="background-color: {{joboffer.color}} !important">
      <h3 class="widget-user-username">{{joboffer.project}}</h3>
      <h5 class="widget-user-desc">{{joboffer.company}}</h5>
    </div>
    <div class="widget-user-image">
      <img class="img-circle" ng-src="{{vm.SERVICE_ENDPOINT + joboffer.img}}" alt="User Avatar">
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-4 border-right" style="border-right:1px solid #cccccc">
          <div class="description-block">
            <h5 class="description-header">{{joboffer.phase}}</h5>
            <span class="description-text" style="text-transform: none;">Phase</span>
          </div>
        </div>
        <div class="col-sm-4 border-right" style="border-right:1px solid #cccccc">
          <div class="description-block">
            <h5 class="description-header">{{joboffer.positions}}</h5>
            <span class="description-text" style="text-transform: none;">Positions</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">{{joboffer.application}}</h5>
            <span class="description-text" style="text-transform: none;">Applicants</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
